/* Utils */
@import "./base/global.css";
@import "./base/reset.css";

/* Fonts */
@import "./fonts/fonts.css";

/* Typography */
@import "./base/typography.css";

/* Variables */
@import "./variables/colors.css";

/* Components */
@import "./components/tag.css";
@import "./components/input.css";
@import "./components/auth.css";
@import "./components/button.css";
@import "./components/link.css";
@import "./components/card.css";
@import "./components/group-radio.css";
@import "./components/pagination.css";
@import "./components/modal.css";
@import "./components/comments.css";

/* Pages */
@import "./pages/authentication.css";
@import "./pages/home.css";
@import "./pages/recipes.css";
@import "./pages/details.css";
@import "./pages/create-recipes.css";
@import "./pages/profile.css";

/* Layout */
@import "./layout/header.css";
