p {
    font-family: "Work-Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Genty-Demo", serif;
    color: var(--color-secondary);
    margin-bottom: 0.5rem;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
