.authentication__layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.authentication__container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    height: 100%;
}

.authentication__left {
    position: relative;
    background-color: var(--color-secondary);
    flex: 1;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.authentication__left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1rem;
    width: 1rem;
    height: 100%;
    background: var(--color-primary);
    z-index: 1;
}

.authentication__left svg {
    width: 35%;
    height: 100%;
    object-fit: cover;
}

.book-cover {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    height: 50%;
    margin-left: 2rem;

    background-color: green;
}

.book-cover__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.book-cover__content h3 {
    color: var(--color-primary);
    font-size: 1.25rem;
    text-align: center;
}

.authentication__right {
    flex: 1;
}
