/* Left content */

.authentication__layout {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.authentication__container {
    position: relative;

    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    height: 100%;
}

.authentication__left {
    position: relative;
    background-color: var(--color-secondary);
    flex: 1;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.authentication__left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1rem;
    width: .5rem;
    height: 100%;
    background: var(--color-primary);
    z-index: 1;
}

.authentication__left svg {
    width: 35%;
    height: 100%;
    object-fit: cover;
}

.book-cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: calc(100% - 2rem);
    height: 100%;
    margin-left: 2rem;
    gap: 15rem;
}

.book-cover__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.book-cover__content h3 {
    color: var(--color-primary);
    font-size: 1.25rem;
    text-align: center;
}

.book__copyright {
    /* background-color: orange; */
    width: max-content;
    align-self: end;
    margin: 1rem;
}

.book__copyright p {
    color: var(--color-primary);
    font-size: 0.75rem;
}


.authentication__labels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 5%;
}

.authentication__labels-group {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

.authentication__label {
    color: var(--color-primary);
    padding: 1rem 2rem;
    padding-right: .75rem;
    font-weight: bold;
    width: max-content;
}

/* Right content */

.authentication__right {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.authentication__form-container {
    width: calc(100% - 15rem);
}

.actions__group {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.authentication__form-login,
.authentication__form-register {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.actions__link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
