.home__layout {
    position: relative;
    /* background-color: green; */
    width: 100vw;
    /* height: calc(100vh - 80px); */
    /* height: 110vh; */
    height: 125vh;
    /* overflow: hidden; */

    margin-bottom: 5rem;
}

.home__content {
    position: relative;
    width: calc(100% - 4rem);
    height: calc(100% - 2rem);
    margin: 0 auto;
    background-color: var(--color-secondary);
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    overflow: hidden;
}

.home__content-intro {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home__content-intro svg {
    position: absolute;
}

.home__content-intro svg.whip-icon {
    top: 20%;
    right: 100%;
}

.home__content-intro svg.loop-icon {
    top: -10%;
    left: 125%;
}

.home__layout .intro__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.home__layout .intro__titles h1 {
    font-size: 3rem;
    color: var(--color-primary);
}

.home__layout .intro__description {
    text-align: center;
    color: var(--color-primary);
    font-size: 1.25rem;
}

.home__content-images {
    position: relative;
    width: 100%;
    margin-top: 4rem;
}

.home__content-images .slider {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 1rem;
    justify-content: center;
    align-items: start;
    /* overflow-x: hidden; */
}

.home__content-images .slider div {
    border-radius: 20px;
}

.slider-image {
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-primary);
}

.home__layout__copy-svg {
    position: absolute;
    bottom: calc(0% - 2rem);
    left: 65%;
    /* rotate: 10deg; */
    transform: rotate(10deg);
    z-index: 99;
    overflow: hidden;
}

.home__layout__copy-svg svg {
    transform: scaleX(-1);
    /* color: var(--color-primary) !important; */
}

.home__layout-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    pointer-events: none;
}

.home__layout-svg svg {
    position: absolute;
    bottom: 0;
    left: 65%;
    transform: scaleX(-1);
    rotate: 10deg;
}

@media screen and (max-width: 900px) {
    .intro__titles {
        text-align: center;
    }

    .intro__titles h1 {
        font-size: 2rem !important;
    }

    .home__content-images {
        display: none !important;
    }

    .home__content-intro svg {
        display: none;
    }

    .home__layout {
        height: 75vh;
    }
}

.home__layout__copy-svg svg {
  display: block;
}

.copy-svg {
    position: absolute;
    transform: rotate(10deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-svg svg {
    transform: scaleX(-1);
    display: block;
}
