:root {
    --color-primary: #F3EDE5;
    --color-secondary: #D53232;
    --color-text: #000000;
    --color-border: #CCCCCC;
    
    /* hover */
    --color-secondary-hovered: #B20013;

    /* tags */
    --color-tag-easy: #FFD02F;
    --color-tag-intermediaire: #FF5E29;
    --color-tag-hard: #D90000;

    --color-tag-entrees: #4B2CE3;
    --color-tag-plats: #E49399;
    --color-tag-desserts: #00804A;
    --color-tag-cocktails: #4F060B;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}
