header.fixed {
    position: sticky;
    width: 100vw;
    top: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 1000;
    padding: 1rem 2rem;
}

.navbar__header {
    width: 100%;
    position: relative;
}

.navbar__header-authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.navbar__header-authentication svg {
    width: 6rem;
    height: 6rem;
}

.navbar__header-authentication h3 {
    font-size: 20px;
}

.navbar__header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.navbar__header-main svg {
    width: 4rem;
    height: 4rem;
}

.navbar__header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.actions__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
