.navbar__header {
    width: 100%;
    position: relative;
}

.navbar__header-authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.navbar__header-authentication svg {
    width: 6rem;
    height: 6rem;
}

.navbar__header-authentication h3 {
    font-size: 20px;
}
