header.fixed {
    position: sticky;
    width: 100vw;
    top: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    z-index: 1000;
    padding: 1rem 2rem;
}

.navbar__header {
    width: 100%;
    position: relative;
}

.navbar__header-authentication {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.navbar__header-authentication svg {
    width: 6rem;
    height: 6rem;
}

.navbar__header-authentication h3 {
    font-size: 20px;
}

.navbar__header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar__header-main svg {
    width: 3rem;
    height: 3rem;
}

.navbar__header-logo h3 {
    font-size: 1.25rem;
}

.actions__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;

}

.hamburger span {
    width: 24px;
    height: 2px;
    background-color: var(--color-secondary);
    transition: all 0.3s ease;
}

.mobile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1rem;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    background-color: var(--color-secondary);
    border-radius: 20px;
    z-index: 1001;
}

.navbar__header-user-info {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__header-user-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    padding: .25rem;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .navbar__header-logo h3 {
        display: none;
    }

    .actions__links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}
