button {
    cursor: pointer;
    text-align: center;
    padding: 14px 20px;
    border-radius: 9999px;
    font-size: 12px;
}

button.primary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

button.secondary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

button.primary:hover {
    background-color: var(--color-secondary-hovered);
}

button.secondary:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
