.card__container {
    position: relative;

    width: 250px;
    overflow: hidden;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-primary);
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--color-text);
    text-decoration: none;
}

.card__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 2rem;
}

.card__views {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.card__views p {
    font-size: 0.75rem;
    font-weight: 300;
}
