a.link,
span.link {
    position: relative;
    width: max-content;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

a.link--primary,
span.link--primary {
    color: var(--color-secondary);
}

a.link--secondary,
span.link--secondary {
    color: var(--color-text);
}

a.link::before,
span.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    /* background-color: var(--color-secondary); */
    background-color: currentColor;
    bottom: -2px;
    transform: scaleX(0%);
    transform-origin: left;
    transition: all .5s ease;
}

a.link:hover::before,
span.link:hover::before {
    transform: scaleX(100%);
}

a.link--active::before,
span.link--active::before {
    transform: scaleX(100%);
}
