a.link,
span.link {
    position: relative;
    width: max-content;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
}

a.link::before,
span.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
    bottom: -2px;
    transform: scaleX(0%);
    transform-origin: left;
    transition: all .5s ease;
}

a.link:hover::before,
span.link:hover::before {
    transform: scaleX(100%);
}
