.tag {
    color: var(--color-primary);
    padding: 1rem;
    border-radius: 9999px;
    font-weight: bold;
    width: max-content;
}

.tag-default {
    background-color: var(--color-secondary);
}

.tag-entrees {
    background-color: var(--color-tag-entrees);
}

.tag-plats {
    background-color: var(--color-tag-plats);
}

.tag-desserts {
    background-color: var(--color-tag-desserts);
}

.tag-cocktails {
    background-color: var(--color-tag-cocktails);
}

.tag-facile {
    background-color: var(--color-tag-easy);
    color: var(--color-text);
}

.tag-intermediaire {
    background-color: var(--color-tag-intermediaire);
}

.tag-difficile {
    background-color: var(--color-tag-hard);
}
