.tag {
    color: var(--color-primary);
    padding: 1rem;
    border-radius: 9999px;
    font-weight: bold;
    width: max-content;
}

.tag-blue {
    background-color: var(--color-tag-blue);
}

.tag-orange {
    background-color: var(--color-tag-orange);
}

.tag-green {
    background-color: var(--color-tag-green);
}

.tag-brown {
    background-color: var(--color-tag-brown);
}

.tag-facile {
    background-color: var(--color-tag-easy);
    color: var(--color-text);
}

.tag-intermediaire {
    background-color: var(--color-secondary);
}
